<section id="identities">
    <div class="content ta-center">
        <div>
            <h2 class="sitecolor">Seleziona il tipo di account</h2>
        </div>
        <!-- <div id="loginTab" class="sitecolor mb-3">
            <span>..non hai un account? <strong class="td-underline c-pointer sitecolor" onclick="switchToRegistration();">Registrati!</strong></span>
        </div> -->
        <button onclick="switchToLogin();">Indietro</button>
        <form id="identitiesForm" class="form form-center placeholder-center" onsubmit="return login(this, event); return false;">
            
        </form>
    </div>
</section>
