<div id="recipeAuthor">
    <h4>Autore ricetta:</h4>
    <table class="table">
        <tbody>
            <tr>
                <th>Username</th>
                <th>Nome</th>
                <th>Cognome</th>
                <th>Email</th>
            </tr>        
            <tr>
                <td id="recipeAuthor__username"></td>
                <td id="recipeAuthor__name"></td>
                <td id="recipeAuthor__surname"></td>
                <td id="recipeAuthor__email"></td>
            </tr>
        </tbody>
    </table>
</div>