<section id="login">
    <div class="content ta-center">
        <div>
            <h2 class="pink">Accedi</h2>
        </div>
        <div id="loginTab" class="mb-3">
            <span>..non hai un account? <strong class="td-underline c-pointer sitecolor" onclick="switchToRegistration();">Registrati!</strong></span>
        </div>
        <form id="loginForm" class="form form-center placeholder-center" onsubmit="return login(this, event); return false;">
            <input class="form-control" id="loginForm__username" type="text" placeholder="username" required>
            <input class="form-control mt-2" id="loginForm__password" type="password" placeholder="password" required>
            <div><span id="loginForm__errorText" class="errorText"></span></div>
            <button class="mt-4" type="submit">Entra</button>
            <div class="c-pointer f-size-30 pink" onclick="openGuide();"><i class="fa fa-question-circle"></i></div>
        </form>
    </div>
</section>
