<section id="login">
    <div class="content ta-center">
        <div>
            <h2 class="sitecolor">Accedi</h2>
        </div>
        <div id="loginTab" class="sitecolor mb-3">
            <span>..non hai un account? <strong class="td-underline c-pointer sitecolor" onclick="switchToRegistration();">Registrati!</strong></span>
        </div>
        <form id="loginForm" class="form form-center placeholder-center">
            <input class="form-control" id="loginForm__username" type="text" placeholder="username">
            <input class="form-control mt-2" id="loginForm__password" type="text" placeholder="password">
            <button class="mt-4" onclick="login(this); return false;">Entra</button>
        </form>
    </div>
</section>
